<aside class="sidebar" id="sidebar" (click)="OpenCloseMenu(true)" [ngClass]="{'menuactive': isOpenMenu}">
    <h3  *ngIf="isOpenMenu; else menuicon">GifsApp</h3>
    <ng-template #menuicon>
        <menu-icon class="menu_icon"></menu-icon>
    </ng-template>
    <hr  class="hr_white"/>
    <gifs-search-box [isOpenMenu]="isOpenMenu"></gifs-search-box>
    <div class="history_list_tags">
        <button *ngFor="let tag of Tags" class="history_list_tags_item" (click)="GetOldTag(tag)"><img-icon class="icon"></img-icon> <span [ngStyle]="{'visibility': isOpenMenu ? 'visible' : 'hidden'}" >{{tag | titlecase}}</span></button>
    </div>
</aside>
<div class="closemenu" (click)="OpenCloseMenu(false)" [ngStyle]="{'display': isOpenMenu ? 'block' : 'none'}"></div>

