.gifs_item_figure{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.206);
    display: flex;
    justify-content: center;
    break-inside:avoid-column;
    align-items: center;
    margin-bottom: 10px;
    min-width: 250px;
}
.gifs_item_img{
    width: 100%;
    height: 100%;
}