.gifs_item_figure_loader{
    background-color: #ee72141f;
    display: flex;
    /* height: 200px; */
    width: 100%;
    align-items: center;
    justify-content: center;
    break-inside:avoid-column;
    margin-bottom: 10px;
}
.gifs_item_figure{
    margin-bottom: 10px;
}
.gifs_item_img{
    width: 100%;
}